body{
    background-image: url('../assets/Table.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1{
    color: goldenrod;
    margin-top: 200px;
    font-size: 80px;
}

p{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

#clickBtn{
    /* border: 1px solid orangered; */
    border-radius: 5px;
    padding: 15px 32px;
    margin-top: 50px;
    background-color: goldenrod;
    color: #016f32;
    width: 300px;
    font-size: 22px;
    font-weight: bold;
}

#draw-card{
    /* border: 1px solid orangered; */
    border-radius: 5px;
    padding: 15px 32px;
    margin-top: 10px;
    background-color: goldenrod;
    color: #016f32;
    width: 300px;
    font-size: 22px;
    font-weight: bold;
}